.blog-card__header{
    font-family: var(--font-roboto), serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blog-card__content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: var(--font-roboto), serif;
}

.blog-card__text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.blog-card__title{
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: left;
}

.blog-card__btn{
    margin-top: 24px;
}

.rotated-title__container{
    height: calc(100vh - 160px - 96px);
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.rotated-title__wrapper{
    position: fixed;
}

.rotated-title{
    font-size: 240px;
    font-weight: 400;
    line-height: 240px;
    writing-mode: tb-rl;
    transform:rotate(180deg);
    text-align: center;
}

.blog__column{
    display: flex;
    flex-direction: column;
    gap: 84px
}

.section__blog-row-1{
    height: 387px   ;
}

.section__blog-row-2{
    height: 463px   ;
}

.blog-article{

}

.blog-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: sticky;
    top: 40px;
    margin-bottom: 100px;
}

.blog-list__title{
    font-family: var(--font-roboto), serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
}

.blog-list__items{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 8px;
    border-left: 1px solid var(--accent);
}

.blog-list__item{
    transition: color 0.1s ease;
}

.blog-list__item:hover{
    color: var(--accent);
}

.blog-list__container{
    flex-grow: 1;
}

.blog-article__blocks{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blog-article__block{
    width: 698px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blog-article__block-title{
    font-family: var(--font-roboto), serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: left;
}


ul {
    list-style-type: disc;
}

li {
    margin-left: 24px;
}

.more{
    height: 415px;
}

.more__title{
    font-family: var(--font-display), serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 85.31px;
}
