.columns{
    width: 100%;
    display: flex;
    gap: 43px;
}
.columns__expanded-down{
    height: 100%;
}
.columns_virtual{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 43px;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
}
.column{
    width: 398px;
}
.column__two{
    width: 839px;
}
.column_virtual{
    width: 398px;
    height: 100%;
    border-right: 1px solid var(--column-line);
    border-left: 1px solid var(--column-line);
    z-index: -1;
}

@media (max-width: 1280px) and (min-width: 910px) {
    .columns_virtual{
        gap: 22px;
    }

    .column_virtual{
        width: 278px;
    }

    .columns{
        gap: 22px;
    }
    .column{
        width: 278px;
    }

    .column__two{
        width: 578px;
    }
}

@media (max-width: 910px) {
    .column_virtual{
        width: 100%;
    }

    .columns{
        flex-direction: column;
        gap: 24px;
    }

    .column{
        width: initial;
    }

    .columns.columns-unchange{
        justify-content: space-around;
        flex-direction: row;
        gap: 16px;

    }

    .column_virtual:not(:first-child) {
        display: none;
    }

    .column:has(.image__internet) {
        order: 1;
    }

    .column__mobile-none{
        display: none;
    }
}