.image__cover{
    object-fit: cover;
}

.image__grayscale {
    filter: grayscale(100%);
}

.image__newspaper{
    width: 398px;
    height: 275px;
}

.image__internet{
    width: 398px;
    height: 428px;
}

.image__fake-image{
    width: 398px;
    height: 237.51px;
    margin-top: 192px
}

.image__searching-in-archives{
    width: 398px;
    height: 215px;
    margin-bottom: 145px
}

.image__browser_plugins{
    width: 398px;
    height: 540px;
    margin-top: 100px;
    margin-bottom: 40px
}

.image__manipulation-introduction{
    width: 567px;
    height: 400px;
}

.image__manipulation-man-container{
    overflow: hidden;
    width: 398px;
    height: 567px;
}

.image__manipulation-man{
    position: relative;
    left: -50%;
    top: -25%;
}

.image__manipulation-people{
    width: 399px;
    height: 100vh;
    max-height: 1083px;
    position:sticky;
    top:0;
}

.image__manipulation-people-laughing{
    width: 838px;
    height: 711px;
}

.image__blog-header{
    width: 1278px;
    height: 530px;
}

.image__fake-recognizing-mannequins{
    object-position: 0 25%
}

.image__fake-recognizing-phone-camera{
    width: 398px;
    height: 580px;
}

.image__fake-recognizing-library{
    width: 839px;
    height: 326px;
}

.image__blog-fakes-spread{
    object-position: 0 5%
}

.image__blog-truth-vs-lies{
    object-position: 0 5%
}

.image__blog-social-media{
    object-position: 0 50%
}

@media (max-width: 1280px) and (min-width: 910px) {
    .image__cover{
        width: 278px
    }

    .image__internet{
        height: 297px;
    }

    .image__newspaper{
        height: 193px;
    }

    .image__searching-in-archives{
        height: 151px;
    }

    .image__browser_plugins{
        height: 376.65px;
    }

    .image__fake-image{
        margin-top: 92px;
        height: 166.4px;
    }
}

@media (max-width: 910px) {

    .image__cover{
        width: 100%;
    }

    .image__internet{
        height: 369px;
    }

    .image__fake-image{
        margin-top: 0;
    }

    .image__searching-in-archives{
        display: none;
    }

    .image__browser_plugins{
        height: 540px;
        margin-top: 0;
        margin-bottom: 0;
    }
}