.section{
    padding: var(--section-padding);
}

.section__heading-wrapper{
    padding: var(--heading-wrapper-padding);
}

.section__heading{
    font-family: var(--font-display), serif;
    font-size: var(--heading-font-size);
    font-weight: 400;
    line-height: 77px;
    text-align: left;
}
.section__heading_main{
    font-family: var(--font-display), serif;
    font-size: 120px;
    font-weight: 400;
    line-height: 144px;
    text-align: left;
    width: 666px;
    height: var(--heading-main-height);
    margin-bottom: var(--heading-main-margin-bottom);
}

.section__fake-recognizing{
    position: relative;
}

.section__more{

}

.blog-section{
    padding: 80px 0;
}
